@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    font: 13px "Work Sans", Helvetica, Arial;
}

.container {
    position: absolute;
    bottom: 50px;
    padding-left: 50px;
    width: 1000px;
}

#avatar{ 
    float: left;
    border-style: solid;
    border-width: 12px;
    border-radius: 50%;
    border-color: #fecb61;
    margin: 0px 15px 0px 0px;
}

img {
    display: none;
}


img[src] {
   display: block;
}

#name, #question {
    vertical-align: middle;
}

#name {
    font-size: 32px;
    font-weight: 600;
    color: #2d293a;
    border-radius: 0px 100px 0px 0px;
    background: #fecb61;
    margin: 0px 0px 0px 90px;
    padding: 10px;
}

#question {
    font-size: 24px;
    color: #2d293a;
    margin: 0px 0px 0px 90px;
    background: #f7f8f9;
    padding: 10px;
}

p:empty {
    display: none;
    }